body{
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(255, 255, 255);
}

/* navbar css starts here  */
.bg-light{
    background-color:rgb(80, 72, 80) !important;
}

.navbar-brand{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #293038!important;
}

.nav-link{
    color: #6e8585!important;
    font-family: 'PT Sans', sans-serif;
}

.nav-link:hover{
    background-color:rgb(111, 77, 202);
}
/* navbar css ends here  */

.my-info{
    padding: 7rem 8rem;
}

.btnlkn:hover{
    text-decoration: none;
}

div table thead tr th{
    color:white;
}

.btn-info{
    padding: 5rem 5rem;
    background-color: rgb(192, 156, 198)!important;
    color: rgb(201, 398, 528) !important;
    margin-left: 7px;
    padding: 0.25rem;
    transition: all 0.5s;
}

.btn-info:hover{
    background-color: rgb(129, 149, 153)!important;
}
.table-info{
    background-color: rgb(40, 196, 35);
}

.blue{
    background-color: rgb(60,63,139);
    color: white;
}

.blue:hover{
    background-color: rgb(157, 159, 216);
    color: white;
}

.light:hover{
    background-color: rgba(162, 173, 171, 0.945);
    color: white;
}